<!DOCTYPE html>
<html ng-app = "myApp">
    <head>
        <!-- Include jQuery and jQuery UI -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/static/jquery-ui-1.11.4/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Include Fancytree skin and library -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.1/js.cookie.min.js"></script>
        <link href="/static/jquery.fancytree/skin-win8/ui.fancytree.min.css" rel="stylesheet" type="text/css">
        <script src="/static/jquery.fancytree/jquery.fancytree-all.min.js" type="text/javascript"></script>
        <script src="/static/jquery.fancytree/jquery.fancytree.filter.js" type="text/javascript"></script>
        <script src="/static/jquery.fancytree/jquery.fancytree.persist.js" type="text/javascript"></script>
        <script src="/static/jquery.fancytree/jquery.fancytree.table.js" type="text/javascript"></script>
        <script src="/static/jquery.fancytree/jquery.fancytree.wide.js" type="text/javascript"></script>

        <!-- Initialize the tree when page is loaded -->
        <script src = "/static/script.js" type="text/javascript"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <img src = "/static/Portes2.PNG" id = 'portes'/><br /><br />
        <div class = "row">
            <a href = "{{ url_for('index') }}"><button id="refresh">Refresh</button></a>
            <button type="button" id="collapse">Collapse All</button>
            <button id="toggle">Toggle Expansion</button>
            <div id = "myChoices">
                <select id="viewChoices">
                   <option value="A">Normal View</option>
                   <option value="B">Table View</option>
                </select>
            </div>
        </div><br />



        <input name="search" placeholder="Filter..." autocomplete="off">
        <button id="btnResetSearch">&times;</button>

        <br />
        <div id = "myTrees">
            <div id="A" class = "trees">
                <div id="tree" data-source="ajax" ></div>
            </div>
            <div id="B" class = "trees">
                <table id="treetable">
                    <colgroup>
                        <col width="*"></col>
                        <col width="*"></col>
                        <col width="100px"></col>
                    </colgroup>
                    <thead>
                        <tr>
                        <th></th>
                        <th>Key</th>
                        <th>Folder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <!-- <div>Selected nodes: <span id="echoSelection">-</span></div> -->
        <input type="hidden" id="echoActivePath">

        <input type = "hidden" name="echoSelectionRootKeys" id="echoSelectionRootKeys">
        <!-- <div><u>Selected root paths</u>: <span name="echoSelectionRootKeys" id="echoSelectionRootKeys">-</span></div> -->
        <div><u>Uploading to</u>: <span id="echoActive">-</span></div>
        <div><u>Selected folders and files</u>: <span name="echoSelection" id="echoSelection">-</span></div>
        <br/>
        <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>

            <input type=file name=file>
            <input type="hidden" id="active" name="active">
            <input type=submit value=Upload>
        </form>
        <br />
        <form method="post" action="{{ url_for('download') }}" name="form">

            <input type="hidden" id="paths" name = "paths"><br>
            <input type="submit" value="Download">
        </form>
    </body>
</html>
