<!DOCTYPE html>
<html ng-app = "myApp">
    <head>
        <!-- Include jQuery and jQuery UI -->
        <script src="/static/jquery-3.0.0.min.js" type="text/javascript"></script>
        <script src="/static/jquery-ui-1.11.4/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Include Fancytree skin and library -->
        <link href="/static/jquery.fancytree/skin-win8/ui.fancytree.min.css" rel="stylesheet" type="text/css">
        <script src="/static/jquery.fancytree/jquery.fancytree-all.min.js" type="text/javascript"></script>
        <!-- Initialize the tree when page is loaded -->
        <script src = "/static/script.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    </head>
    <body>
        <p>
            <button id="destroy">Destroy</button> <button id="init">Init</button>
            <button id="expand">Expand</button>
            <button id="reload">Reload</button>
            <button id="setSource">Set source option</button>
        </p>
        <div ng-controller="FileLocation">
            <h1>{{title}}</h1>
            Search: <input type="text" name="location" />
        </div>
        <br />
        Ajax (JSON)
        <div id="tree1" data-source="ajax" class="sampletree"></div><br />

        <script>
            function TestCtrl($scope) {
                $scope.title = 'Write a title here...';
            };
        </script>
    </body>
</html>